In [46]:
import os
import pandas as pd
import json
import csv

In [36]:
df = pd.read_csv(os.path.join("audio", "table_db-2.csv"), delimiter=";", decimal=",")
df.drop("number", axis=1)

    noise_db  clear_db
0      80.43     78.45
1      77.51     76.53
2      77.16     77.38
3      78.44     77.87
4      77.80     76.46
5      78.00     78.33
6      77.20     77.57
7      76.48     77.92
8      77.27     78.05
9      77.86     77.51
10     77.90     79.26
11     77.38     75.56
12     77.26     77.33
13     77.39     77.75
14     76.93     77.17
15     77.22     77.64
16     78.00     77.58
17     77.40     75.90
18     77.37     78.47
19     77.85     76.34
20     77.50     77.86
21     76.97     77.92
22     76.58     77.83
23     78.30     78.19
24     77.86     78.32
25     77.56     78.53
26     77.82     77.78
27     77.18     77.98
28     76.29     77.66
29     77.10     77.60
30     77.08     77.65
31     77.43     77.75

In [45]:
df["snr_dist"] = df["clear_db"]-df["noise_db"]-6
df

    number  noise_db  clear_db  snr_dist
0        1     80.43     78.45     -7.98
1        2     77.51     76.53     -6.98
2        3     77.16     77.38     -5.78
3        4     78.44     77.87     -6.57
4        5     77.80     76.46     -7.34
5        6     78.00     78.33     -5.67
6        7     77.20     77.57     -5.63
7        8     76.48     77.92     -4.56
8        9     77.27     78.05     -5.22
9       10     77.86     77.51     -6.35
10      11     77.90     79.26     -4.64
11      12     77.38     75.56     -7.82
12      13     77.26     77.33     -5.93
13      14     77.39     77.75     -5.64
14      15     76.93     77.17     -5.76
15      16     77.22     77.64     -5.58
16      17     78.00     77.58     -6.42
17      18     77.40     75.90     -7.50
18      19     77.37     78.47     -4.90
19      20     77.85     76.34     -7.51
20      21     77.50     77.86     -5.64
21      22     76.97     77.92     -5.05
22      23     76.58     77.83     -4.75
23      24     78.30     78.19     -6.11
24      25     77.86     78.32     -5.54
25      26     77.56     78.53     -5.03
26      27     77.82     77.78     -6.04
27      28     77.18     77.98     -5.20
28      29     76.29     77.66     -4.63
29      30     77.10     77.60     -5.50
30      31     77.08     77.65     -5.43
31      32     77.43     77.75     -5.68

In [54]:
df = pd.read_json(os.path.join("osweb-data.json"))

df["response"]

0           tom is talking about the fee
1               roof heard about the hip
2          a rosebush has prickly thorns
3    we should have considered the juice
Name: response, dtype: object

In [57]:
p1 = pd.read_json(os.path.join("participant_data", "condition_a-1.json"))
p1["response"]
p1[""]

0           mary could not discuss the thing
1             the bomb exploded with a blast
2            the roses bushes quickly thorns
3        we should have considered the juice
4               You are considering the gang
5                  tom will disucss this one
6           nancy had concidered the sleeves
7              the farmer harvested his crop
8           i can't guess, so give me a hint
9        we should have considered the juice
10         the old man thinks about the mask
11              Tom is talking about the fee
12            mary could not discuss the tax
13            tom could not discuss the barn
14          Jane has a problem with the coin
15            nancy should consider the fist
16       bill heard tom call about the coach
17                  ....the bike that grease
18          the boy gave the football a kick
19            I was interested in the breath
20               the sailor swapped the deck
21            noone was injured in the crash
22           the cop wore a bulletproof west
23         they have a problem with the lint
24            this nozzel sprays a fine mist
25      bob could have known about the spoon
26               bill might discuss the foam
27            the bomb exploded with a blast
28             after his bath he wore a rope
29        roof pour the water down the drain
30    the fruit was shipped in wooden crates
31      they marched to the beat of the drum
32                I've spoken about the pile
33              a rosebush has pricky thorns
34      roof hopes he heard about the hips??
35             the soup was served in a bowl
Name: response, dtype: object

In [59]:
p1["sound"]

0       18
1       17
2      n-1
3      n-2
4       10
5     n-28
6     n-20
7     n-22
8       13
9        2
10    n-26
11    n-32
12    n-18
13       9
14      16
15      12
16    n-23
17    n-21
18       6
19    n-29
20    n-27
21    n-25
22       8
23    n-19
24    n-30
25       4
26       7
27    n-17
28      11
29       5
30       3
31    n-24
32      15
33       1
34    n-31
35      14
Name: sound, dtype: object